/* ForgotPassword.css */

/* Scope styles to a specific container to avoid interference with header dimensions */
.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.forgot-password-container h2 {
  font-size: 1rem; /* Adjusted font size for consistency */
  margin-bottom: 20px;
}

.forgot-password-container p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.forgot-password-container label {
  font-size: 1.1rem;
  margin-top: 20px;
  display: block;
}

.forgot-password-container input[type="email"] {
  width: 300px;
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(114, 173, 191);
}

.forgot-password-container button[type="reset"] {
  width: 300px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #b9c3c4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.forgot-password-container button[type="reset"]:hover {
  background-color: #3e8e41;
}

.forgot-password-container .error {
  color: red;
  margin-top: 10px;
}
